option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: kdportfolio/wsgi.py
    StaticFiles: /static/html5/
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kdportfolio.settings"
    PYTHONPATH: "./kdportfolio"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
