<!-- {% load static %} -->
<!DOCTYPE HTML>

<html>
	<head>
		<title>KyleDupont.io</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<!-- <header id="header" class="alt">
						<h1><a href="index.html">Solid State</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header> -->

				<!-- Menu -->
					<!-- <nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav> -->

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-diamond"></span></div>
							<h2>Kyle Dupont</h2>
							<p>Developer + Automator + IT Professional</a></p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="https://s3.amazonaws.com/pubfiles-kdupont.io/KyleDupont_Resume_dev.pdf" target="_blank" class="image"><img src= "/static/images/kyle2.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">About Me</h2>
										<p>I have been working with technology in a full time professional environment since 2008, and in a casual/social environment my entire life. I constantly seek the gratification that comes with learning how something works or why it is not working. The fast pace and ever changing nature of technology is something I truly enjoy. Combining the knowledge I've absorbed from a corporate environement with that from my personal projects allows me to have a keen eye for automating processes and solving meaningful problems in a simplistic and lightweight approach.</p>
										<a href="https://s3.amazonaws.com/pubfiles-kdupont.io/KyleDupont_Resume_dev.pdf" target="_blank" class="special">View Resume</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a class="image"><img src="/static/images/pgatour2.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Latest Gig</h2>
										<p>The PGA TOUR is a place where I wear many hats. I conformed to a hybrid developer/sysadmin/project management role while supervising a team of 8 and being a direct report to a team of 4. I have supported many unique systems and implemented many new technologies to a scaleable environment.</p>
										<!-- <a href="#" class="special">Learn more</a> -->
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="https://github.com/kyledupont/kdportfolio" target="_blank" class="image"><img src="/static/images/python_sticky.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">This Site</h2>
										<p>This site is a constantly changing personal project of mine. It is utilizing Python and the Django framework. To see the source files please see the link below.</p>
										<a href="https://github.com/kyledupont/kdportfolio" target="_blank" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Recent Projects</h2>
									<p>Check out some of the latest project i've worked on.</p>
									<section class="features">
										<article>
											<a href="https://github.com/kyledupont/BookAPI" target="_blank" class="image"><img src="/static/images/code_with_lamp.jpg" alt="" /></a>
											<h3 class="major">Python API, utilizing Flask and SQLAlchemy.</h3>
											<p>This project stores a database of books. Tracking their title, unique ISBN, and price.</p>
											<a href="https://github.com/kyledupont/BookAPI" target="_blank" class="special">Learn more</a>
										</article>

										<article>
											<a href="https://github.com/kyledupont/Zendesk_AD_Sync_Tool" target="_blank" class="image"><img src="/static/images/powershell.jpg" height ="300" alt="" /></a>
											<h3 class="major">Zendesk AD Sync Tool</h3>
											<p>Syncs user data for the popular ticketing system, Zendesk, with an on-prem AD server.</p>
											<a href="https://github.com/kyledupont/Zendesk_AD_Sync_Tool" target="_blank" class="special">Learn more</a>
										</article>

										<article>
											<a href="https://github.com/kyledupont/DjangoReactSQLite" target="_blank" class="image"><img src="/static/images/javascript_coffee.jpg" alt="" /></a>
											<h3 class="major">Python (Django) web app with React front end</h3>
											<p>Utilizes a python API which is called with AJAX. API secured with JWT.</p>
											<a href="https://github.com/kyledupont/DjangoReactSQLite" target="_blank" class="special">With SQLite database</a>
											<a href="#" target="_blank" class="special">With NoSQL MongoDB</a>
											<a href="#" target="_blank" class="special">With Node backend</a>
										</article>

										<article>
											<a href="/static/canvas.html" target="_blank" class="image"><img src="/static/images/Javascript.jpg" alt="" /></a>
											<h3 class="major">Canvas</h3>
											<p>Interactive canvas written with JavaScript</p>
											<a href="/static/canvas.html" target="_blank" class="special">Full window canvas</a>
										</article>

										<article>
											<!-- <a href="#" class="image"><img src="/static/images/pic05.jpg" alt="" /></a> -->
											<video class ="image" id="kyledupont.io_Animation_Video" width="100%" playsinline autoplay muted loop>
													<source src="/static/videos/kyledupont_logo_720p.mp4" type="video/mp4">
											</video>
											<h3 class="major">Animation</h3>
											<p>HD animation using Adobe After Effects and Media Encoder.</p>
											<a href="http://kyledupont.io/static/videos/kyledupont_logo_720p.mp4" target="_blank" class="special">See full size animation</a>
										</article>

										<article>
											<a href="https://s3.amazonaws.com/pubfiles-kdupont.io/Artboard+1.png" target="_blank" class="image"><img src="https://s3.amazonaws.com/pubfiles-kdupont.io/Artboard+1.png" alt="" /></a>
											<h3 class="major">Low Poly Artwork</h3>
											<p>Low poly image crafted in Adobe Illustrator</p>
											<a href="https://s3.amazonaws.com/pubfiles-kdupont.io/Vector_Timelapse.mp4" target="_blank" class="special">Time Lapse</a>
										</article>

										<article>
											<!-- <a href="#" class="image"><img src="/static/images/pi1.jpg" alt="" /></a> -->
											<img class="mySlides" src="/static/images/pi1.jpg">
										  <img class="mySlides" src="/static/images/pi2.jpg">
										  <img class="mySlides" src="/static/images/pi3.jpg">
										  <img class="mySlides" src="/static/images/pi4.jpg">
											<img class="mySlides" src="/static/images/pi5.jpg">
											<img class="mySlides" src="/static/images/pi6.jpg">
											<img class="mySlides" src="/static/images/pi7.jpg">

										  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
										  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
											<h3 class="major">Rasberry Pi Mod</h3>
											<p>Modded Rasberry Pi running the Linux based OS: Recalbox. A modern take on all the gaming classics. Includes over 5,500 games from over 25 retro gaming systems. Complete with a mini NES case mod and retro usb controller.</p>
											<!-- <a href="#" class="special">Learn more</a> -->
										</article>
									</section>
									<ul class="actions">
										<!-- <li><a href="#" class="button">Browse All</a></li> -->
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Feel free to reach out by sending an Email or submitting this form.</p>
							<form method="post">
								{% csrf_token %}
								<div class="fields">
									<div class="field">
										{{ form.as_p }}
									</div>
									<!-- <div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div> -->
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="fa-home">
									Ponte Vedra Beach, FL<br />
									32082
								</li>
								<li class="fa-phone">(989) 859-2192</li>
								<li class="fa-envelope"><a href="mailto:dupontke@gmail.com" target="_blank">dupontke@gmail.com</a></li>
								<li class="fa-github"><a href="https://github.com/kyledupont" target="_blank">https://github.com/kyledupont</a></li>
								<li class="fa-linkedin"><a href="https://www.linkedin.com/in/kyle-dupont/" target="_blank">https://www.linkedin.com/in/kyle-dupont/</a></li>
								<!-- <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->
							</ul>
							<ul class="copyright">
								<li>&copy; 2018 Kyle Dupont. All rights reserved.</li><li><a href="mailto:dupontke@gmail.com" target="_blank">dupontke@gmail.com</a></li>
							</ul>
						</div>
					</section>
			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
			<script>
				document.getElementById('kyledupont.io_Animation_Video').play();
			</script>
			<script>
				var slideIndex = 1;
				showDivs(slideIndex);

				function plusDivs(n) {
  				showDivs(slideIndex += n);
				}

				function showDivs(n) {
  				var i;
  				var x = document.getElementsByClassName("mySlides");
			  if (n > x.length) {slideIndex = 1}
			  if (n < 1) {slideIndex = x.length}
			  for (i = 0; i < x.length; i++) {
			     x[i].style.display = "none";
			  	}
			  x[slideIndex-1].style.display = "block";
				}
			</script>
			<script>
			{% if messages %}
					{% for message in messages %}
						alert('{{ message }}')
					{% endfor %}
			{% endif %}
			</script>

	</body>
</html>
